@using WebPrincipal.Models.ViewModels;
@model List<ProductosViewModel>

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo producto</a>
</p>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var producto in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p=> producto.Codigo)</td>
                <td>@Html.DisplayFor(p=> producto.Nombre)</td>
                <td>@Html.DisplayFor(p=> producto.Etiqueta)</td>
                <td>@Html.DisplayFor(p=> producto.Precio)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>