@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Mini Súper 7-11</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    @* <img src="C:\MS711\COMUNICACION\Imagenes\Logo.png"> *@
</div>
